html, body {
    overflow-x: hidden;
  }
#tabs2,
.by {
    float: left
}

.social .fa:hover,
.social-media .fa:hover {
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3)
}

#new1,
#new2,
#new3,
#news2,
.business h3,
.business p,
.custom48 h3,
.custom49 h3,
.it h3,
.it p,
.link-box a,
.new,
.news1,
.news5,
.online h3,
.online p,
.or,
.or1,
.text-box a,
body,
p.why {
    font-family: Karla, sans-serif
}

#tags ul,
.tab-links li,
.text-icon ul li,
nav ul,
ul>li {
    list-style: none
}

#new1,
#new2,
.new {
    font-weight: 700
}

#blue,
#current,
#silver {
    height: auto
}

#blog,
#blog1,
#blog4,
.blog3 {
    text-align: left
}

.top-section,
.uv-rounds,
header {
    width: 100%
}

.social .fa:hover,
.social-media .fa:hover {
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3)
}

.badge,
.media-body2,
input,
select {
    vertical-align: middle
}

@font-face {
    font-family: Karla;
    font-style: italic;
    font-weight: 400;
    src: local('Karla Italic'), local('Karla-Italic'), url(https://fonts.gstatic.com/s/karla/v6/qkBVXvYC6trAT7RQHt6e5A.ttf) format('truetype')
}

@font-face {
    font-family: Karla;
    font-style: italic;
    font-weight: 700;
    src: local('Karla Bold Italic'), local('Karla-BoldItalic'), url(https://fonts.gstatic.com/s/karla/v6/qkBQXvYC6trAT7RQFmW79LlvmA.ttf) format('truetype')
}

@font-face {
    font-family: Karla;
    font-style: normal;
    font-weight: 400;
    src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v6/qkBbXvYC6trAT7RVLtk.ttf) format('truetype')
}

@font-face {
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    src: local('Karla Bold'), local('Karla-Bold'), url(https://fonts.gstatic.com/s/karla/v6/qkBWXvYC6trAT7zuC8m5xL4.ttf) format('truetype')
}

body {
    line-height: 26px;
    color: #698591;
    font-size: 15px
}

.btn-primary {
    background-color: #03A9F5
}

.btn-warning {
    background-color: #ffbb2a
}

.btn-success {
    background-color: #33bb7d
}

.btn-danger {
    background-color: #ee5722
}

#sky:hover,
.alert-info {
    background-color: #03A9F5
}

.text-primary {
    color: #03A9F5
}

.text-warning {
    color: #ffbb2a
}

.text-success {
    color: #33bb7d
}

.text-danger {
    color: #ee5722
}

.alert-info {
    color: #fff
}

.alert-warning {
    background-color: #ffbb2a;
    color: #fff
}

.alert-success {
    background-color: #33bb7d;
    color: #fff
}

.alert-danger {
    background-color: #ee5722;
    color: #fff
}

#alertmessage2 h1 {
    font-size: 40px
}

#alertmessage2 h2 {
    font-size: 35px
}

#alertmessage2 h3 {
    font-size: 30px
}

#alertmessage2 h4 {
    font-size: 25px
}

#alertmessage2 h5 {
    font-size: 20px
}

#alertmessage2 h6 {
    font-size: 18px
}

#blog1,
.blog2 {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0E4971;
    font-weight: 700
}

.btn-danger:hover {
    color: #fff;
    background-color: #27aae2;
    border-color: #27aae2
}

.btn-danger:active {
    color: #fff;
    background-color: #27aae2 !important;
    border-color: #27aae2
}

.btn-primary:active {
    color: #fff;
    background-color: #03A9F5 !important;
    border-color: #03A9F5
}

.btn-danger:focus {
    color: #fff;
    background-color: #27aae2;
    border-color: #27aae2
}

.dropdown-spcing {
    margin-top: 30px;
    border-radius: 0;
    padding: 0
}

#blog {
    color: #2A3696
}

#blog1 {
    margin-bottom: 60px;
    margin-top: 40px;
    color: #698591
}

.panel,
.panel-group .panel {
    border-radius: 0
}

.nice {
    margin-bottom: 66px
}

.nice>a:focus,
.nice>a:hover {
    color: #d58512
}

.bluep,
.bluep1 {
    color: #2f5a79;
    margin-left: 0
}

#what {
    margin-bottom: -42px
}

#what1 {
    margin-top: 20px
}

.new {
    margin-top: 50px;
    margin-bottom: 14px
}

#new1 {
    margin-top: 40px
}

#new3 {
    margin-top: 24px
}

#new2 {
    margin-top: 65px
}

.blog3 {
    padding-bottom: 0;
    margin-top: 50px
}

.bluep {
    margin-bottom: 8px;
    margin-top: -4px
}

.bluep1 {
    margin-bottom: 55px
}

#section6,
.blog2,
.elit2,
.jobs,
.padd {
    color: #698591
}

hr {
    border: 0;
    border-top: 1px solid #e9e9e9 !important
}

.form-control {
    border-radius: 0
}

.input-group-addon {
    border-radius: 0;
    background-color: #fff
}

.dolor {
    line-height: 38px
}

.bluep2 {
    margin-top: -23px;
    margin-left: 0
}

.bluep3 {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: -1px
}

.blog2 {
    padding: 0;
    margin: 0
}

#contact,
#service4 {
    background: url(../images/icons/h2-lineb.png) left bottom no-repeat;
    padding-bottom: 10px
}

.veca,
.veca1 {
    font-size: 18px;
    margin-left: 40px
}

.veca {
    color: #0E4971
}

.veca1 {
    color: #fe6d3f
}

#blog4 {
    padding: 2px 0 35px
}

#tabs {
    margin: 1px;
    padding: 15px
}

.serv {
    margin: 13px 0 35px 45px
}

.service1 {
    margin: 16px 0 55px
}

.service2 {
    margin: -21px -20px 60px
}

.lorem {
    margin: 30px 19px 51px 0;
    color: #698591
}

#alert3,
#alert4,
#service5,
#service6 {
    color: #0D066C
}

.by {
    margin-right: 12px;
    margin-top: -8px;
    margin-bottom: 93px
}

#tabs2,
#tabs3 {
    margin-top: 46px;
    padding: 0
}

#service3 {
    background: url(../images/icons/h2-lineb.png) left bottom no-repeat;
    margin: 19px 12px 40px;
    padding: 390px 12px 10px 0
}

#service4 {
    margin: 50px 32px 25px 0
}

#service5 {
    background: url(../images/icons/h2-lineb.png) left bottom no-repeat;
    padding: 0 0 15px;
    margin: 390px 13px 50px
}

#service6 {
    background: url(../images/icons/h2-lineb.png) left bottom no-repeat;
    margin: 53px 23px;
    padding: 11px 12px 10px 0
}

#contact {
    margin: 50px 0 25px
}

#tabs2 {
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    margin-right: 97px
}

#tabs3,
.right {
    float: right
}

#tabs3 {
    border: 1px solid #CDCDCD;
    border-radius: 6px
}

#letter {
    padding: 3% 42%
}

#letter1 {
    padding-top: 55px;
    padding-bottom: 16px
}

#popular {
    padding: 13px 0;
    color: #FFF;
    background-color: #EF5722;
    margin: 0;
    border-radius: 0
}

.price {
    margin-bottom: 24px;
    margin-top: 17px
}

#pitchnotfound {
    padding: 0;
    margin: 133px 0 45px
}

@media screen and (min-width:992px) {
    .navbar-nav>li>.dropdown-menu {
        margin-top: 36.7%
    }
    .margin-of-mega-menu-scroll {
        margin-top: 16% !important
    }
    .dropdown-menu>.active>a,
    .dropdown-menu>.active>a:focus,
    .dropdown-menu>.active>a:hover {
        color: #fff;
        background-color: #fe5722
    }
    .dropdown-menu>li,
    .dropdown-menu>li>a {
        background-color: #03a9f5
    }
    .dropdown-menu>li>a {
        line-height: 30px;
        text-align: center;
        color: #fff
    }
    .dropdown-menu>li>a:focus,
    .dropdown-menu>li>a:hover {
        background: #fe5722;
        color: #fff
    }
}

ul>li {
    color: #698591
}

a {
    outline: 0 !important;
    text-decoration: none !important
}

.footer-logo1 {
    padding: 13% 4% 21%
}

#consulty {
    font-size: 15px;
    color: #8B9DA0
}

.less-right {
    padding-right: 0
}

.less-left {
    padding-left: 0
}

.left,
.top-section,
.uv-rounds,
header {
    float: left
}

.relative {
    position: relative
}

.msg-gap {
    margin-left: 5px
}

.for-home {
    margin-top: -12px
}

@media screen and (min-width:993px) {
    header {
        position: fixed;
        background-color: #fff;
        z-index: 999
    }
    .inner-banner {
        margin-top: 155px
    }
    .animated-scroll-top {
        line-height: 0
    }
    .animated-scroll-inner {
        margin-top: 113px
    }
    .animated-scroll-bottom {
        margin-top: -20px;
        margin-bottom: -20px
    }
}

@media screen and (min-width:992px) {
    header {
        position: fixed;
        background-color: #fff;
        z-index: 999
    }
    .inner-banner {
        margin-top: 155px
    }
    .animated-scroll-top {
        line-height: 0
    }
    .animated-scroll-inner {
        margin-top: 113px
    }
    .animated-scroll-bottom {
        margin-top: -20px;
        margin-bottom: -20px
    }
}

@media screen and (min-width:690px) and (max-width:768px) {
    .why-choose h2 {
        margin-top: 400px
    }
}

@media screen and (min-width:767px) and (max-width:992px) {
    .navbar-nav>li>.dropdown-menu {
        margin-top: 35.7%
    }
    .navbar-nav li {
        padding: 0 !important
    }
    .dropdown-menu>.active>a,
    .dropdown-menu>.active>a:focus,
    .dropdown-menu>.active>a:hover {
        color: #fff;
        background-color: #fe5722
    }
    .dropdown-menu>li,
    .dropdown-menu>li>a {
        background-color: #03a9f5
    }
    .dropdown-menu>li>a {
        line-height: 30px;
        text-align: center;
        color: #fff
    }
    .dropdown-menu>li>a:focus,
    .dropdown-menu>li>a:hover {
        background: #fe5722;
        color: #fff
    }
}

.top-section {
    background: #3a526a
}

.top-icons {
    padding: 15px 0 0 22px
}

.top-icons a {
    padding-right: 17px
}

.phone {
    text-align: right
}

.happy-clients,
.happy-clients h2,
.news-section .bx-pager.bx-default-pager,
.or,
.or1 {
    text-align: center
}

.phone a {
    color: #EAEDED;
    font-size: 14px;
    display: inline-block
}

.phone a:hover {
    color: #fff
}

.email {
    padding: 16px 18px 16px 28px;
    border-right: 1px solid #94a9bf
}

.number {
    padding: 16px 0;
    margin-left: 18px
}

.bottom-section,
.dropdown-menu,
.nav-outer .container-fluid,
.navbar-collapse {
    padding: 0
}

.ph-size {
    font-size: 18px;
    margin-right: 5px;
    color: #ccc
}

.bottom-section {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0
}

.right-in-small {
    float: right;
    margin-top: 15px
}

.dropdown-submenu {
    position: relative;
    padding: 0
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: -1px
}

.dropdown-menu,
.dropdown-submenu {
    min-width: 140px
}

@media screen and (min-width:768px) {
    .dropdown-submenu:hover>.dropdown-menu {
        display: block
    }
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #ccc;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    margin-top: 10px
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover,
.navbar-default {
    background-color: transparent;
    border-color: transparent
}

@media screen and (max-width:768px) {
    .dropdown-submenu>a:after,
    .submenu-caret {
        float: right;
        margin-top: 10px
    }
    .dropdown-submenu>.dropdown-menu {
        top: 100%;
        left: 0
    }
    .dropdown-submenu>a:after {
        content: " ";
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px
    }
}

.navbar {
    margin-bottom: 0;
    min-height: 0;
    text-transform: uppercase
}

.navbar-nav {
    float: right;
    margin: 40px 0 36px
}

.navbar-default .navbar-nav>li>a {
    color: #5b6a75;
    font-size: 14px;
    margin-bottom: -7px
}

.navbar-nav>li>a {
    padding: 6px 24px
}

.jqryclass,
.mail-ico {
    padding: 6px 8px !important;
    font-size: 18px !important
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #ffbb2a
}

.jqryclass,
.mail-ico,
.mail-ico:hover {
    color: #fff !important
}

.jqryclass,
.mail-ico,
.remove-border {
    border: none !important
}

.mail-ico {
    background-color: #27aae2
}

.mail-ico:hover {
    background: #ffbb2a !important
}

.for_inifial {
    display: initial
}

.jqryclass {
    background-color: #27aae2
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #ffbb2a
}

.navbar-default .navbar-nav>li:not(.msg-gap)>a:focus,
.navbar-default .navbar-nav>li:not(.msg-gap)>a:hover {
    color: #ffbb2a !important
}

.banner-round {
    float: left;
    width: 100%;
    position: relative
}

.banner-round img {
    width: 100%
}

.banner-round .bx-next,
.banner-round .bx-prev,
.banner-round1 .bx-next,
.banner-round1 .bx-prev {
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 999
}

.banner-round .bx-next {
    right: 15%;
    bottom: 90px;
    background: url(../images/icons/bx-next.png) no-repeat
}

.banner-round .bx-prev {
    right: 19.8%;
    bottom: 90px;
    background: url(../images/icons/bx-prev.png) no-repeat
}

.banner-round1 .bx-next,
.banner-round1 .bx-prev {
    bottom: -270px
}

.banner-round.index2-banner .bx-prev:hover {
    background: url(../images/icons/left-arrow1.png) no-repeat
}

.banner-round.index2-banner .bx-next:hover {
    background: url(../images/icons/right-arrow1.png) no-repeat
}

.banner-round1 .bx-prev {
    left: 46.8%;
    background: url(../images/icons/bx-prev.png) no-repeat
}

.banner-round1 .bx-next {
    right: 44%;
    background: url(../images/icons/bx-next.png) no-repeat
}

.banner-round1 .bx-next:hover {
    background: url(../images/icons/bx-next-hover.png) no-repeat
}

.banner-round1 .bx-prev:hover {
    background: url(../images/icons/bx-prev-hover.png) no-repeat
}

.banner-round1 .container h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff
}

.banner-round1 .container h2 span {
    font-size: 48px;
    display: block;
    font-weight: 900
}

#information .alert {
    padding: 8px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 15px;
    border-radius: 0
}

#information .alert h4 {
    margin-top: 10px
}

.info_set {
    background-color: #03a9f5;
    color: #00f
}

.warn-set {
    background-color: #ffbb2a;
    color: #CD951B
}

.sucs-set {
    background-color: #33BB7B;
    color: green
}

.dang-set {
    background-color: #EF5722;
    color: #8B291E
}

.short-list1 {
    margin-left: 0 !important;
    padding-left: 0;
    line-height: 40px !important;
    margin-top: 0 !important
}

.short-list1 li,
.short-list2 li {
    list-style-type: none;
    padding-left: 1em
}

.short-list2 {
    line-height: 40px;
    margin-top: 3px
}

.banner-round1 .m-top {
    margin-top: -46%;
    padding: 0 15px
}

.pagination {
    position: relative;
    top: -50px;
    margin-bottom: 16%
}

.banner_slider .main-button {
    width: 200px
}

.main-button1 {
    background-color: #27aae2
}

.goto-project {
    margin-left: 3px;
    font-size: 12px
}

.banner-round .bx-next:hover {
    background: url(../images/icons/bx-next-hover.png) no-repeat
}

.banner-round .bx-prev:hover {
    background: url(../images/icons/bx-prev-hover.png) no-repeat
}

.banner-round .container h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    margin-bottom: 25px
}

.banner-round .container a {
    background: url(../images/icons/button-arrow.png) 90% 50% no-repeat #27aae2
}

.banner-round .container a.main-button2 {
    background: url(../images/icons/button-arrow.png) 90% 50% no-repeat #03a9f5
}

.banner-round .container a.main-button2:hover,
.banner-round .container a:focus.main-button,
.banner-round .container a:hover.main-button {
    color: #fff
}

.banner-round .container h2 span {
    font-size: 48px;
    display: block;
    font-weight: 900
}

.main-button,
.main-button1,
.main-button2 {
    font-size: 15px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 600
}

.banner-round .m-top {
    margin-top: -34%;
    padding: 0 15px
}

.main-button,
.main-button1 {
    padding: 12px 17px
}

.main-button {
    background: #27aae2;
    margin: 25px 0 0 3px;
    width: 100%
}

.index2-news .news-btn {
    background: #03A9F5
}

.index2-news .news-letter {
    background: url(../images/background1.png)
}

.main-button1 {
    background: #03A9F5;
    margin: 100px 0 0 3px
}

.main-button2 {
    background: url(../images/icons/button-arrow.png) 86% 50% no-repeat #03a9f5;
    padding: 12px 35px 12px 29px;
    margin: 25px 0 0 510px
}

.about-bt,
.about-bt2 {
    border: 1px solid #fff
}

.style {
    margin: 0 17px 90px 0;
    line-height: 35px;
    font-size: 16px
}

.about h2,
.about2 h2,
.services {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600
}

.second-section {
    float: left;
    width: 100%;
    background: url(../images/icons/strech-bar.png) left top no-repeat;
    background-size: 100% 100%;
    margin-top: -6px
}

.second-section2 {
    float: left;
    width: 100%;
    background: url(../images/icons/strech2.png) left top no-repeat;
    background-size: 100% 100%;
    margin-top: -20px
}

.about2 {
    background: #27aae2;
    color: #FFF
}

.about2 h2 {
    margin-top: 18px
}

.services {
    color: #FFF;
    background: url(../images/icons/h2-line.png) left bottom no-repeat;
    padding-bottom: 4px;
    margin-bottom: 21px;
    margin-top: 6px
}

.about h2,
.about-bt2:hover,
.about-bt:hover,
.about2 h2 {
    color: #fff
}

.about {
    background: #03a9f5;
    padding: 0 15px 90px 0;
    margin-top: -20px
}

.about h2,
.about2 h2 {
    background: url(../images/icons/h2-line.png) left bottom no-repeat;
    padding-bottom: 10px
}

.about h2 {
    padding-top: 80px;
    margin-bottom: 40px
}

.about2 h2 {
    padding-top: 100px;
    margin-bottom: 38px
}

.about p,
.about-bt,
.about-bt2 {
    font-size: 16px;
    color: #fff
}

.about p {
    line-height: 26px;
    padding: 0 30px 88px 0
}

.about-bt {
    padding: 9px 10px 9px 15px;
    margin-bottom: 20%
}

.about-bt i {
    padding-left: 20px
}

.about-bt2 {
    padding: 9px 10px 9px 15px;
    margin-bottom: 15%
}

.about-bt2 i {
    padding-left: 20px
}

.service {
    background-color: #f1f1f1;
    margin-top: 14px
}

#servicehome,
#servicehome1,
#servicehome2 {
    font-size: 25px;
    background: url(../images/icons/h2-lineb.png) left bottom no-repeat;
    text-transform: uppercase
}

.service h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 12px;
    margin-bottom: -1px;
    font-weight: 600;
    margin-top: 58px
}

#servicehome,
#servicehome1 {
    padding-bottom: 10px;
    font-weight: 600
}

#servicehome {
    color: #0E4971;
    padding-top: 66px;
    margin: 0 0 39px 40px
}

#servicehome1 {
    color: #114366;
    padding-top: 100px;
    margin: 0 0 40px 40px
}

#servicehome2 {
    margin: 108px 0 25px;
    padding-bottom: 15px
}

.online {
    float: left;
    width: 100%;
    background: url(../images/icons/online.png) left top no-repeat
}

.dedicated {
    float: left;
    width: 100%;
    background: url(../images/icons/dedicated.png) left top no-repeat
}

.it {
    float: left;
    width: 100%;
    background: url(../images/icons/it.png) left top no-repeat
}

.business2 {
    margin-bottom: 32px
}

.business,
.dedicated,
.it,
.online {
    padding-left: 89px;
    margin-bottom: 32px
}

.business h3,
.it h3,
.online h3 {
    font-size: 18px;
    color: #072643;
    text-transform: uppercase;
    margin-bottom: 7px;
    line-height: 20px
}

.business p,
.it p,
.online p {
    font-size: 15px;
    color: #698591;
    line-height: 26px
}

.logo-align {
    margin-top: 92px
}

.third-section {
    float: left;
    width: 100%;
    padding: 18px 0 1px
}

.third-section h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin-top: 30px
}

.project-wrap {
    width: 100%
}

.project>li {
    width: 25% !important
}

.link-box,
.project-wrap img {
    width: 100%;
    float: left
}

.link-box {
    background: #f1f1f1;
    padding: 15px
}

.whyus {
    margin: 20px 2px 12px
}

.link-box a {
    color: #072643;
    font-size: 18px;
    background: url(../images/icons/about-bt.png) 2px bottom no-repeat;
    padding-bottom: 8px;
    display: block
}

.project-wrap .bx-viewport,
.slide {
    height: 230px
}

.project-wrap .bx-next,
.project-wrap .bx-prev {
    width: 41px;
    height: 33px;
    top: -63px;
    z-index: 999;
    position: absolute
}

.link-box:hover,
.slide .active {
    background: #ffbb2a
}

.slide .active a,
.slide:hover a {
    background: url(../images/icons/about-bt-active.png) 2px bottom no-repeat;
    color: #fff
}

.project-wrap .bx-next {
    right: 0;
    background: url(../images/icons/project-slide-next.png) no-repeat
}

.project-wrap .bx-prev {
    right: 41px;
    background: url(../images/icons/project-slide-prev.png) no-repeat
}

.project-wrap .bx-next:hover {
    background: url(../images/icons/project-next-active.png) no-repeat
}

.project-wrap .bx-prev:hover {
    background: url(../images/icons/project-prev-active.png) no-repeat
}

.happy {
    padding-top: 35px;
    margin-bottom: 40px
}

.happy-clients {
    width: 100%;
    margin-top: 75px
}

.happy-clients h2 {
    background-position: center bottom;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 0
}

.add,
.addd {
    background: #03A9F5
}

.happy-clients h3 {
    font-size: 14px
}

.happy-clients h3 span {
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 10px
}

.happy-clients p {
    color: #698591;
    font-style: italic;
    font-size: 16px;
    padding: 15px 10.5%;
    width: 100% !important
}

.happy-clients #bx-pager {
    margin: 35px auto 50px;
    width: 219px
}

.add,
.addd,
.addd1 {
    width: 100%;
    float: left
}

.happy-clients #bx-pager a {
    opacity: .6
}

.happy-clients #bx-pager .active,
.happy-clients #bx-pager a:hover {
    opacity: 1
}

.happy-clients #bx-pager a:nth-child(4),
.happy-clients #bx-pager a:nth-child(5) {
    position: relative;
    top: -14px
}

.happy-clients .happy li {
    position: relative;
    bottom: 40px;
    margin-top: 10px
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .addd .mail-now {
        border-left: 1px solid #DCDCDC
    }
    .call-now {
        border-right: 0 !important
    }
}

.addd1 {
    background: #27aae2
}

.dad a {
    font-size: 29px;
    color: #fff;
    padding: 27px 0 0 35px;
    display: inline-block
}

.call-now,
.mail-now {
    font-size: 20px;
    color: #fff
}

.custom48 h3 span,
.custom49 h3 span {
    display: block
}

@media(min-width:980px) and (max-width:1200px) {
    .mail-now {
        border-left: 1px solid#dcdcdc
    }
}

.addd .mail-now,
.addd1 .mail-now {
    margin-top: 0;
    background: url(../images/icons/add-mail.png) 13% 33px no-repeat
}

.addd .call-now,
.addd1 .call-now {
    background: url(../images/icons/add-phone.png) 44px 30px no-repeat
}

.call-now {
    border-right: 1px solid #DCDCDC;
    padding: 23px 15px 31px 100px;
    background: url(../images/icons/add-phone.png) 13% 33px no-repeat
}

.mail-now {
    padding: 23px 15px 27px 115px;
    margin-top: -18px;
    background: url(../images/icons/add-mail.png) 115px 33px no-repeat
}

.or,
.or1 {
    width: 44px;
    height: 44px;
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 0;
    left: 0;
    font-weight: 700;
    padding: 10px 0 0;
    text-transform: uppercase;
    border-radius: 50%
}

.or {
    top: 32% !important;
    background: #0085c2;
    margin: 0 auto
}

.or1 {
    background: #F34F0D;
    top: 38%;
    margin: -4px auto
}

.or.alt {
    background: #F3760E
}

.news-section {
    float: left;
    width: 100%;
    background: #f1f1f1;
    padding-top: 85px
}

.news-section h2 {
    font-size: 25px;
    text-transform: uppercase;
    background: url(../images/icons/h2-lineb.png) left bottom no-repeat;
    padding-bottom: 15px;
    margin-bottom: 50px;
    margin-top: 0
}

.news-section .text-box {
    background: #fff;
    padding: 1px 15px 22px 25px;
    margin-top: 55px
}

.custom52 {
    width: 52%;
    float: left
}

.custom48,
.custom49 {
    width: 48%;
    float: left
}

.custom52 a {
    color: #777
}

.custom52 a:focus,
.custom52 a:hover {
    color: #03A9F5
}

.custom48 h3,
.custom49 h3 {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 0;
    padding: 18px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 600;
    left: 0
}

@media screen and (min-width:425px) and (max-width:600px) {
    .margin-tag-section {
        margin-bottom: 50px
    }
}

.custom48 h3 {
    background: #27aae2
}

.custom49 h3 {
    background: #03A9F5
}

.text-box h3 {
    font-size: 20px
}

.text-box p {
    font-size: 16px;
    color: #698591;
    padding: 5px 0
}

.text-box a {
    font-size: 16px;
    color: #072643;
    background: url(../images/icons/about-bt.png) right 52% no-repeat;
    float: left;
    padding: 7px 27px 7px 0
}

.text-box a:hover {
    color: #ffbb2a
}

.image-box img {
    width: 100%
}

.news-section .news a:focus,
.news-section .news a:hover {
    color: #d58512
}

.news-section .bx-pager-item {
    display: inline-block
}

.news-section .bx-has-pager {
    padding: 67px 0 100px
}

.news-section .bx-pager-item .bx-pager-link {
    background: #c8c8c8;
    margin: 0 4px;
    font-size: 5px;
    color: #c8c8c8;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%
}

.news-section .bx-pager-item .active {
    background-color: orange;
    color: #ffbb2a
}

#clients,
.our-clients2 h2,
.our-clients3 h2 {
    background: url(../images/icons/h2-lineb.png) center bottom no-repeat
}

.news-matter {
    color: #698591;
    text-align: justify
}

.slide1 {
    margin-right: 10px
}

#clients {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    padding-bottom: 15px;
    margin-top: 85px;
    margin-bottom: 40px
}

.our-clients h2,
.our-clients2 h2,
.our-clients3 h2 {
    font-size: 25px;
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase
}

.our-clients {
    width: 100%;
    float: left;
    padding: 0;
    margin-bottom: 50px
}

.our-clients h2 {
    margin-bottom: 24px;
    padding-bottom: 1%
}

.our-clients2 h2 {
    margin-bottom: 25px;
    padding-bottom: 10px
}

.our-clients3 h2 {
    margin-bottom: 50px;
    padding-bottom: 14px
}

.client {
    text-align: center;
    border: 1px solid #edeff5;
    height: 117px;
    margin-right: 4px
}

.client:hover {
    border: 1px solid #ffbb2a
}

.client>img {
    padding-top: 12px
}

.our-clients .bx-pager-item {
    display: inline-block
}

.our-clients .bx-pager.bx-default-pager {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 100px
}

.our-clients .bx-pager-item .bx-pager-link {
    background: #c8c8c8;
    margin: 0 4px;
    font-size: 5px;
    color: #c8c8c8;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%
}

.our-clients .bx-pager-item .active {
    background: #ffbb2a;
    color: #ffbb2a
}

.name {
    color: #0E4971;
    font-size: 20px;
    text-align: center
}

.consulting-service {
    width: 100%;
    float: left;
    background: url(../images/new-top.png) no-repeat;
    background-size: 100% 100%
}

.consulting-service h2 {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    padding-top: 70px;
    text-align: left
}

.consulting-service p {
    font-size: 16px;
    color: #e2e2e2;
    font-weight: 600;
    margin-bottom: 64px;
    padding-bottom: 136px;
    text-align: left
}

.consulting-service .main-button {
    background-position: 96% 50%;
    width: 104%;
    margin: 35% 0 0
}

.news-letter,
.news-letter1 {
    background: url(../images/news-letter-bg.png) left top repeat-x
}

.news-letter,
.news-letter1,
.news-letter2 {
    width: 100%;
    text-align: center;
    position: absolute
}

#providing {
    padding-bottom: 136px
}

.news-letter {
    top: -273px;
    margin-bottom: 45px;
    margin-top: 25px
}

.news-letter1 {
    padding: 35px 0 61px;
    top: -117px
}

.news-letter1 h2 {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -12px
}

.news-letter1 p {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding-top: 0
}

.news-letter2 {
    background: url(../images/background1.png) left top repeat-x;
    top: -298px;
    color: #FFF;
    margin-bottom: 34px
}

.news-letter>h2 {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    margin: 54px auto 16px
}

.news-letter p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding-top: 0;
    font-weight: 100
}

.subscribe-box {
    width: 530px;
    float: none;
    margin: 12px auto 0
}

.news-letter-box {
    width: 100%;
    font-style: italic;
    color: #777;
    font-size: 14px;
    border: none;
    padding: 12px 15px;
    margin-bottom: 75px
}

.news-btn {
    background: #27aae2;
    font-size: 18px;
    color: #fff;
    width: 100%;
    border: none;
    padding: 11px 15px 13px;
    font-weight: 600
}

.news-btn2,
.news-btn3 {
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 11px 15px 12px;
    font-weight: 600
}

.news-btn2 {
    background: #599DEF;
    width: 100%
}

.news-btn3 {
    background: #5975DD;
    width: 100%
}

.footer1,
footer {
    background: #3a526a;
    float: left;
    width: 100%
}

#sky,
#sky:hover {
    border: 1px solid #03A9F5
}

#sky1,
#sky1:hover {
    border: 1px solid #ffbb2a
}

#sky2,
#sky2:hover {
    border: 1px solid #33bb7b
}

#sky3,
#sky3:hover {
    border: 1px solid #ef5722
}

.footer-links ul li,
.footer-links1 ul li {
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    list-style: none
}

footer {
    padding: 136px 0 0
}

.footer1 {
    padding: 0
}

.footer-links {
    float: left;
    width: 100%
}

.footer-links1 {
    width: 100%;
    float: left;
    margin-top: -76px
}

.footer-links1 h2 {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10%
}

.footer-links1 ul li {
    font-size: 15px
}

.footer-links ul li .active,
.footer-links1 ul li a,
.footer-links1 ul li a:hover,
.footer-links1 ul li span {
    color: #fff
}

.footer-links1 .col-lg-2 {
    padding: 0;
    margin: 114px 0 -95px
}

.footer-links h2 {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 18px;
    padding-left: 38px
}

.social-media1>a:first-child,
.social-media>a:first-child {
    padding-left: 0
}

#schort {
    margin-top: -1px
}

#schort2 {
    margin-top: 11px
}

#schort3 {
    margin-top: -10px
}

.footer-links ul li {
    font-size: 15px
}

.footer-links ul li .active,
.footer-links ul li a,
.footer-links ul li a:hover,
.footer-links ul li span {
    color: #fff
}

#topicon:hover,
.social-media a:hover,
.social-media1 a:hover {
    color: #3A526A
}

.footer-links .col-lg-2 {
    padding: 0;
    margin: 67px 0
}

.social-media,
.social-media1 {
    margin-top: 5px
}

.social-media {
    margin-left: 0
}

.social-media>a {
    margin-right: 10px
}

.social-media1>a {
    margin-right: 15px
}

.social .fa:hover {
    color: #ffbb2a
}

.social .fa {
    font-size: 16px;
    color: #CCC;
    padding: 0;
    margin-left: -7px
}

.social-media .fa,
.social-media2 .fa {
    font-size: 16px;
    padding: 0;
    margin-left: 0;
    margin-bottom: 6px
}

.social-media .fa {
    color: #CCC
}

.social-media .fa:hover {
    color: #ffbb2a;
    transform: scale(1.3, 1.3)
}

.social-media2 .fa {
    color: #848d94
}

.social-media2 .fa:hover {
    color: #114366;
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3)
}

.footer-logo {
    padding-top: 10px
}

.footer-logo:hover {
    cursor: pointer;
    color: #FFF !important
}

.media-body2 {
    display: table-cell;
    color: #8B9DB0;
    font-size: 19px
}

.footer-logo a {
    cursor: pointer;
    color: #BDBDBD !important
}

.footer-bottom {
    background: #455e76;
    padding: 15px;
    text-align: center
}

.footer-bottom p {
    font-size: 14px;
    color: #fff;
    text-align: center
}

#left,
.news,
.why-choose h2 {
    text-align: left
}

.inner-banner,
.inner-banner img {
    float: left;
    width: 100%
}

.inner-banner1 img {
    float: left;
    width: 100%;
    margin-bottom: 100px
}

.about-page {
    float: left;
    width: 100%;
    background: #f1f1f1
}

.about-page h2,
.our-team h2,
.our-team1 h2,
.why-choose h2 {
    font-size: 25px;
    background: url(../images/icons/h2-lineb.png) left bottom no-repeat;
    padding-bottom: 15px;
    text-transform: uppercase
}

.about-page h2,
.our-team h2 {
    margin-top: 83px;
    margin-bottom: 30px
}

.about-page h2,
.our-team1 h2 {
    margin-top: 100px;
    margin-bottom: 0
}

.about-page p {
    color: #698591;
    font-size: 15px;
    line-height: 27px;
    margin-top: 100px;
    margin-bottom: 92px;
    margin-left: 50px
}

.news-page {
    float: left;
    width: 100%;
    background: #fff;
    padding: 96px 0 94px
}

#alert1,
#tea,
.feat1,
.feat2,
.news-page h2 {
    background: url(../images/icons/h2-lineb.png) left bottom no-repeat
}

.news-page h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600
}

#featured {
    padding: 5px 12px 23px;
    margin: 0
}

.feat {
    margin-left: -1px;
    margin-bottom: 40px;
    margin-top: -22px;
    padding-bottom: 15px
}

.feat1 {
    padding-bottom: 10px;
    margin: 100px 0 35px
}

#tea,
.feat2 {
    padding-bottom: 15px
}

#tea {
    margin: 100px 12px 40px 0
}

.feat2 {
    margin-top: 150px;
    font-weight: 700
}

#button22,
#sky1:hover {
    background-color: #ffbb2a
}

#sky,
#sky1,
#sky2,
#sky3 {
    background-color: #FFF
}

.feat3 {
    padding-bottom: 0;
    padding-top: 60px;
    margin: 0
}

#alert1,
#wow {
    padding-top: 0
}

#wow {
    margin-bottom: -3px;
    margin-top: 25px
}

#color {
    color: #C82729
}

#alert4 {
    margin: 51px 0 -3px
}

#alert3 {
    margin: -26px 0 20px
}

#alert2 {
    margin: 50px 0 45px -3px
}

#alert1 {
    padding-bottom: 10px;
    margin-top: 100px;
    margin-bottom: 36px
}

#sky2:hover {
    background-color: #33bb7b
}

#sky3:hover {
    background-color: #ef5722
}

.btn-lg {
    margin-top: 12px
}

.tparrows.preview2 {
    max-width: 60px
}

.accordion-section-title.active {
    color: #d58512
}

.tabs {
    border: 1px solid #f1f1f1
}

.tab-links a {
    font-size: 16px;
    color: #4c4c4c
}

.tab-content {
    border-radius: 3px
}

.tab {
    display: none
}

.form,
.form1,
.tab.active {
    display: block
}

#code1 {
    margin-top: 15px !important;
    margin-bottom: 20px !important
}

.price-table {
    margin-bottom: 14%
}

#price1 {
    color: #0D066C;
    margin: 0
}

#table {
    margin: 100px 0 55px
}

#alert11 {
    padding: 3% 0
}

.alert {
    padding-top: 1%;
    line-height: 40px;
    margin-left: -224px;
    margin-top: -37px
}

#alert8 {
    margin: 50px 0 37px
}

#liststyle {
    margin: 2% 0;
    padding-top: 10%
}

#alertmessage {
    padding-top: 104px
}

.alertmessage1 {
    padding-bottom: 17px;
    font-weight: bolder
}

#button1,
#button2,
#button3,
#button4,
#news2,
.news1,
.newse2,
.why {
    font-weight: 700
}

#alertmessage2 {
    margin-top: 100px
}

.date {
    padding-top: 15px;
    padding-bottom: 25px;
    color: #ffbb2a;
    margin-bottom: 0
}

.form,
.form1 {
    padding-top: 0;
    float: left
}

.form {
    padding-bottom: 16px
}

.form1 {
    padding-bottom: 10px
}

.support1,
.support2 {
    padding-bottom: 40px;
    margin-left: -1px
}

#blue {
    background-color: #03a9f5;
    color: #FFF
}

.support1 {
    padding-top: 88px
}

.support2 {
    padding-top: 82px
}

.support3 {
    padding-bottom: 37px;
    padding-top: 77px;
    margin-left: -1px
}

.right {
    margin: -137px 0 0 859px;
    line-height: 41px
}

#news2,
.why {
    line-height: 13px
}

.container #tabs {
    margin: 0;
    padding: 0
}

#tags ul {
    padding: 0
}

.tab-links {
    margin-left: -40px
}

#tags ul li {
    float: left;
    margin-right: 3%
}

#tags .label {
    padding: 5px 6px;
    border-radius: 0;
    font-size: 12px
}

#tags .label.label-primary {
    background-color: #128CC4
}

#tags li:hover .label-primary {
    background-color: #27aae2
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
    background-color: #03A9F5;
    color: #fff;
    border: 1px solid #03a9f5
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #03A9F5;
    color: #fff;
    border: 1px solid #03a9f5
}

#team,
.team1 {
    color: #698591
}

#icons1,
.icons {
    border-bottom: 1px solid silver;
    display: inline-block
}

#silver {
    background-color: #f1f1f1;
    width: 100%;
    margin: 0
}

.silver1 {
    background-color: #F1F1F1;
    height: auto;
    padding: 0;
    margin-bottom: 70px
}

#silver3,
.silver2 {
    background-color: #f1f1f1;
    height: auto
}

.silver1 .media-left {
    width: 164px;
    float: left
}

#left,
#replay3,
.replay1 {
    float: right
}

.silver2 {
    width: 100%;
    padding-top: 108px;
    padding-bottom: 63px
}

#oops2,
#team {
    padding-top: 5px
}

.silver2 .media-left {
    width: 100px
}

.silver2 .media-body {
    width: 87%
}

#silver3 {
    width: 100%;
    padding: 88px 90px 0 300px;
    margin-top: 55px
}

#silver3 .media-left {
    width: 5%
}

#silvers {
    background-color: #F1F1F1;
    padding: 18px;
    width: 100%;
    height: auto
}

#oops {
    padding-top: 24px;
    padding-bottom: 141px;
    margin-bottom: 90px
}

#oops2 {
    padding-bottom: 3%
}

#team {
    padding-bottom: 34px;
    padding-left: 25px
}

.team1 {
    margin: 0 19px 34px 0
}

.orange {
    padding: 15px 32px 0;
    color: #27aae2;
    margin: -2px 0 0
}

.orange1 {
    padding: 12px 0 80px;
    color: #777
}

.orange1:hover {
    padding: 12px 0 80px;
    color: #27aae2
}

.orange2 {
    padding: 12px 15px 50px 0;
    color: #698591
}

i.contact_details {
    color: #04a9f4;
    font-size: 22px;
    margin: 10px -10px 0 0
}

#button1,
#button2,
#button3,
#button4 {
    background-color: #FFF;
    padding: 10px;
    color: #114366;
    font-size: 18px
}

#button,
#button1,
#button2,
#button3,
#button4 {
    margin: 2% 6% 2% -2%
}

#contact5 {
    padding-top: 12px;
    padding-bottom: 1px
}

#button1 {
    border: 1px solid #204D74;
    width: 110px;
    border-radius: 0
}

#button2 {
    border: 1px solid #C7302C;
    width: 102px;
    border-radius: 0
}

#button3 {
    border: 1px solid #449D44;
    width: 111px;
    border-radius: 0
}

#button4 {
    border: 1px solid #EC971F;
    width: 110px;
    border-radius: 0
}

#button5,
#button51,
#button52,
#button53 {
    border: 1px solid #03a9f5;
    padding: 10px 40px;
    background-color: #03a9f5;
    color: #FFF;
    font-weight: 700
}

#button51,
#button52,
#button53 {
    margin: 45px 43px 12px 0;
    border-radius: 0
}

#button5 {
    margin: 88px 43px 12px 0;
    border-radius: 0
}

#button11 {
    background-color: #03a9f5;
    color: #FFF;
    border: 1px solid #03a9f5;
    border-radius: 0
}

#button22 {
    color: #FFF;
    border: 1px solid #ffbb2a;
    border-radius: 0
}

#search {
    margin-top: 170px
}

#consulty {
    margin-top: 85px
}

#oops1 {
    float: left;
    padding: 8px;
    margin-top: -5px
}

#news3 {
    float: left;
    padding: 8px
}

.lightblue {
    border-left: 7px solid #27aae2;
    background-color: #e7f3f8;
    color: #698591;
    padding: 50px 68px 43px 36px;
    font-size: 14px;
    margin-bottom: 60px
}

#lightsilver {
    background-color: #E5E5E5;
    color: #000;
    padding: 0;
    width: auto;
    height: auto
}

.news {
    font-size: 14px;
    color: #698591;
    padding-bottom: 60px
}

#news2,
.newse2,
.newws3,
.why {
    font-size: 18px;
    text-align: left
}

#replay3:hover,
.replay1:hover {
    float: right;
    color: #27aae2
}

#left {
    padding: 15px
}

.media {
    margin-top: 40px
}

.media2 {
    padding: 0
}

#glyp {
    padding: 50px 0 25px;
    border-bottom: 1px #C3C3C3 solid
}

.price .thumbnail,
.price1 .thumbnail {
    border-radius: 0
}

#replay2 {
    margin: 14px 0;
    border: 1px solid #D3D3D3;
    padding-bottom: 12px
}

#replay3 {
    color: #171717;
    margin-right: 14px
}

#replay3:hover {
    margin-left: 12px
}

#media1 {
    float: left;
    padding: 21px 0 1px
}

.icons {
    border-top: 1px solid silver;
    float: left;
    margin-bottom: 70px;
    width: 100%;
    margin-left: -2px;
    margin-top: 53px
}

#icons1 {
    border-top: 1px solid silver;
    float: left;
    margin-bottom: 86px;
    width: 100%;
    margin-top: 55px;
    margin-left: 2px
}

#news2,
.newse2,
.newws3 {
    margin-bottom: 24px
}

#news2,
.news1,
.newse2,
.newws3,
.why {
    margin-top: 16px
}

#news2 {
    color: #28435c
}

.newse2 {
    line-height: 20px;
    color: #0E4971
}

.newws3 {
    line-height: 13px
}

p.why {
    text-align: left;
    font-size: 15px;
    line-height: 23px;
    color: #698591;
    margin-bottom: 12px
}

.news6 {
    text-align: left;
    margin-bottom: 50px
}

.news66 {
    text-align: left;
    margin-bottom: 66px
}

.news7 {
    text-align: left;
    margin-bottom: 40px
}

.news1,
.news5 {
    text-align: right
}

.news1 {
    font-size: 18px;
    line-height: 13px;
    color: #28435C;
    margin-bottom: 24px
}

.news5 {
    line-height: 26px;
    color: #698591
}

#heading1 {
    float: left;
    margin: 8px 0;
    color: #0D066C
}

.link-box2 h3,
.slide-team,
.social-media2 {
    margin-left: 10px
}

.why-choose {
    width: 100%;
    float: left;
    background: #fff;
    padding: 110px 0 94px
}

.why-choose1 {
    width: 100%;
    float: left;
    background: #fff;
    padding: 110px 0 115px
}

.right-box {
    float: right
}

.right-absolute {
    left: 0;
    position: absolute;
    top: -63px
}

.text-icon {
    padding-left: 30px
}

.text-icon ul li {
    font-size: 20px;
    color: #072643
}

.text-icon ul li span {
    font-size: 15px;
    color: #698591;
    display: block
}

.text-icon>ul {
    float: left;
    padding-top: 30px
}

.image-cover {
    margin-top: 62px
}

.our-team {
    float: left;
    width: 100%;
    background: #f1f1f1
}

.our-team-wrap {
    float: left;
    width: 100%;
    margin-bottom: 112px
}

.slide-team {
    margin-right: 17px;
    padding-bottom: 8px
}

.slide-team img {
    width: 100%;
    height: auto
}

.our-team-wrap .bx-next,
.our-team-wrap .bx-prev {
    width: 41px;
    height: 33px;
    top: -63px;
    position: absolute
}

.slide-team:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    border: 2px solid #e9e9e9
}

.our-team-wrap .bx-next {
    right: 9px;
    background: url(../images/icons/project-slide-next.png) no-repeat
}

.our-team-wrap .bx-prev {
    right: 50px;
    background: url(../images/icons/project-slide-prev.png) no-repeat
}

.our-team-wrap .bx-next:hover {
    background: url(../images/icons/project-next-active.png) no-repeat
}

.our-team-wrap .bx-prev:hover {
    background: url(../images/icons/project-prev-active.png) no-repeat
}

.link-box2 {
    width: 100%;
    margin-bottom: 47px
}

#click {
    margin-top: 50px;
    margin-bottom: 55px
}

.link-box2 h3 {
    font-size: 20px;
    line-height: 25px;
    padding-top: 34px
}

.link-box2 h3 span {
    display: block;
    color: #707b84;
    font-size: 15px
}

.link-box2 a {
    color: #848d94;
    font-size: 16px;
    padding-right: 10px;
    padding-top: 9px;
    display: inline-block
}

.link-box2 a:hover {
    color: #114366
}

.errorimage {
    top: 100px;
    left: 0;
    position: absolute;
    right: 0
}

.errorimage2 {
    z-index: 100;
    position: relative
}

.notfoundbtn.btn-lg {
    margin-left: 40%
}

#contact5 .link-box2 {
    margin-left: 0
}

.col-xs-pull-8 {
    right: 0
}

.col-xs-push-4 {
    left: 0
}

#page1 {
    margin-bottom: 27px;
    color: #F38A39;
    font-size: 35px
}

@media(min-width:980px) and (max-width:1200px) {
    .news-section .text-box {
        margin-top: 0
    }
}

@media (max-width:991px) {
    .logo,
    .slide-team,
    .slide-team .link-box2 {
        text-align: center
    }
    .logo,
    .news1 {
        float: left
    }
    #right,
    .alert {
        line-height: 25px
    }
    #servicehome2 {
        margin: 50px 0 25px
    }
    .for-color {
        background-color: #03a9f5
    }
    .about-bt {
        margin-bottom: 95%
    }
    .slide {
        margin: 5px
    }
    .email {
        padding: 17px 14px 9px 22px
    }
    #contact3 {
        margin: 24px 15px 0 16px
    }
    #contact5 .link-box2 {
        margin-left: 0
    }
    .consulting-service .main-button1 {
        margin-top: 0;
        margin-bottom: 19%;
        width: 100%
    }
    #alertmessage {
        padding-top: 0
    }
    #new3 {
        margin-bottom: 0
    }
    #new3+#tags {
        margin-bottom: 25%
    }
    .add {
        width: auto
    }
    .add a {
        margin-left: -14%
    }
    #servicehome {
        margin: 0;
        padding-top: 65px
    }
    .consulting-service p {
        margin-bottom: 0;
        padding-bottom: 0
    }
    #table {
        margin: 36px 0 20px
    }
    #silver3 {
        padding: 15px
    }
    .pagination {
        top: 0;
        margin-bottom: 0
    }
    #code1 {
        margin-top: 32px !important;
        margin-bottom: 15px !important
    }
    #logotop {
        margin-top: 9px !important;
        margin-bottom: -11px !important
    }
    #button5 {
        margin: 50% 0 0;
        font-size: 14px
    }
    #button51,
    #button51:hover,
    #button52,
    #button52:hover,
    #button53,
    #button53:hover {
        margin: -9px 43px 24px -13px
    }
    .main-button2 {
        margin: 2px 0 0 191px
    }
    #right {
        margin: 0
    }
    #alert2 {
        margin: 65px 0 3px 1px
    }
    #pitchnotfound1 {
        margin-top: -4px !important;
        margin-bottom: -22px !important
    }
    #paginat {
        margin-top: -16px !important;
        margin-bottom: 54px !important
    }
    #what {
        margin-bottom: 6px
    }
    .newws3 {
        margin-top: -10px
    }
    #newse2 {
        margin-bottom: 19px;
        margin-top: -15px;
        margin-left: 12px
    }
    .whyus {
        margin: 20px 2px 12px
    }
    .right-absolute img {
        margin-top: -26px
    }
    .project-wrap {
        margin-bottom: -69px
    }
    .newws2 {
        margin-top: -17px
    }
    .second-section2 {
        margin-top: -15px;
        background-color: #27aae2
    }
    #page1 {
        margin-bottom: 27px;
        margin-top: 90px
    }
    .footer-links ul li span {
        color: #fff
    }
    .navbar-nav {
        padding: 0 3%;
        width: 100%
    }
    .navbar-nav li {
        padding: 10px 0
    }
    .banner-round .bx-next {
        right: 2%;
        bottom: 10px
    }
    .banner-round .bx-prev {
        right: 11.8%;
        bottom: 10px
    }
    #consulty {
        margin-top: -40px
    }
    .call-now,
    .mail-now {
        width: 50%;
        float: left
    }
    #icons1,
    .custom48,
    .custom49,
    .custom52,
    .icons {
        width: 100%
    }
    .add a {
        padding-left: 40px;
        margin-top: 13px
    }
    .footer-logo {
        padding-left: 0;
        margin-left: 50px
    }
    .social-media>a {
        padding: 4px;
        margin-right: 2px
    }
    .footer-links ul li {
        font-size: 13px
    }
    .slide-team {
        padding: 8px
    }
    .news5,
    .top-icons {
        text-align: left
    }
    .about {
        margin-top: 0
    }
    .consulting-service .main-button {
        margin-top: 170px
    }
    .our-team {
        padding-bottom: 24px
    }
    .our-team-wrap {
        margin-bottom: 0
    }
    .footer-links h2 {
        margin-bottom: 3px !important
    }
    .consulting-service h2 {
        margin-bottom: 24px;
        padding-top: 30px
    }
    .news-letter-box {
        padding: 6px 15px !important;
        margin-bottom: 16px !important
    }
    #click,
    .support {
        padding-bottom: 10px
    }
    .service {
        margin: 16px 0 -10px
    }
    #service5 {
        padding: 0
    }
    #service5 h3 {
        margin-left: 0
    }
    .news7 {
        margin-bottom: 0
    }
    .news5 {
        float: left !important
    }
    .call-now {
        background: url(../images/icons/add-phone.png) 13% 34px no-repeat !important
    }
    .mail-now {
        background: url(../images/icons/add-mail.png) 72px 35px no-repeat
    }
    #send {
        margin-top: -6px !important;
        margin-bottom: 31px !important
    }
    #contact {
        margin: 53px 23px 16px
    }
    .silver1 {
        margin-top: 10px
    }
    #media1 {
        margin-top: -8px;
        margin-bottom: 15px;
        margin-left: 15px
    }
    #new1 {
        margin-left: 1px;
        color: #072643;
        margin-top: 18px
    }
    #oops {
        padding-top: 24px;
        padding-bottom: 141px;
        margin-bottom: 10px
    }
    #spacing1,
    #spacing2 {
        margin-top: -12px !important
    }
    .icons {
        margin-left: -15px
    }
    #replay3 {
        margin-right: 30px
    }
    #search1 {
        margin-top: 0 !important
    }
    #amet2 {
        margin-bottom: 15px !important;
        margin-top: 2px !important
    }
    .btn-lg {
        margin-top: -14px
    }
    .about2 h2 {
        margin-top: 34px;
        padding-top: 50px
    }
    .service {
        margin-top: -10px;
        margin-bottom: 0
    }
    .serv {
        margin: 20px 0 35px 16px
    }
    #servicehome1 {
        margin-left: 0
    }
    #news2 {
        margin-left: 13px
    }
    .feat {
        margin-bottom: 12px;
        margin-top: 0
    }
    .support {
        padding-top: 65px
    }
    .excellente {
        margin-bottom: 22px !important
    }
    .service2 {
        margin: 0 -3px 36px
    }
    .dad a {
        padding-left: 33px
    }
    #letter1 {
        margin-top: -47px !important;
        margin-bottom: 12px !important
    }
    .footer-links {
        margin-bottom: 40px
    }
    .add h3 {
        margin-left: -43px
    }
    .call-noow {
        background: url(../images/icons/add-phone.png) 34px 20px no-repeat
    }
    .consulting-service .main-button,
    .consulting-service.main-button1 {
        background-position: 94% 50%;
        position: relative;
        top: -120px;
        bottom: 0
    }
    .footer-links1 {
        margin-top: -173px;
        margin-bottom: 141px;
        margin-left: -7px
    }
    #consulty1 {
        margin-top: 203px !important;
        margin-left: -1px
    }
    .social-media {
        margin-left: 0
    }
    #icons1 {
        margin-bottom: 40px;
        margin-left: 2px
    }
    #section3 {
        padding: 61px 0 20px !important
    }
    .dolor {
        margin-bottom: 10px !important;
        margin-left: 28px
    }
    .padd {
        margin-bottom: -35px !important;
        color: #698591
    }
    .jobs {
        margin-top: 10px !important
    }
    #next1 {
        margin-bottom: 18px !important
    }
    #alert8 {
        margin: 39px 0 28px
    }
    .news-section h2 {
        margin-bottom: 0
    }
    .alert {
        margin: -47px 0 11px -49px
    }
    #price1 {
        margin: -150px 0 115px
    }
    .our-clients3 h2 {
        margin-top: 33px;
        margin-bottom: 25px
    }
    .link-box2 {
        margin-bottom: 22px;
        margin-left: -4px
    }
    #click {
        margin-top: 15px;
        margin-bottom: 6px
    }
    #tags ul li {
        float: left;
        margin-bottom: 25px
    }
    .footer-links1 h2 {
        margin-left: 17px
    }
    .footer-links1 ul li {
        margin-left: -23px
    }
    .social-media1 {
        margin-top: 5px;
        margin-left: -2px;
        font-size: 1px
    }
    #tea {
        margin-left: 12px;
        margin-top: 52px;
        float: left
    }
    .feat2 {
        margin-top: 15px;
        padding-top: 22px
    }
    .feat3 {
        margin-top: 22px;
        padding-top: 0
    }
    #list1 {
        margin-top: 32px
    }
    .corner,
    .corner1 {
        margin-bottom: 2px !important
    }
    .bluep2 {
        margin-top: -52px
    }
    .bluep3 {
        margin-bottom: 52px
    }
    .bluep {
        margin-left: 0;
        margin-top: -31px
    }
    .elit2 {
        margin-bottom: -48px !important
    }
    #alert1 {
        margin-top: 17px
    }
    .consulting-service .main-button {
        width: 100%;
        margin-left: 0;
        margin-bottom: 42px
    }
    .consulting-service.main-button1 {
        width: 100% !important;
        margin-left: 0
    }
    .news-btn {
        padding: 6px 15px
    }
    .second-section {
        background-color: #03a9f5
    }
    .about {
        padding: 0
    }
    .about h2 {
        padding-top: 40px;
        padding-bottom: 0;
        margin-bottom: 25px
    }
    .about p {
        padding-bottom: 50px
    }
    .banner-round .container h2,
    .banner-round .container h2 span {
        font-size: 32px
    }
    .errorimage {
        top: 46px !important
    }
    .notfoundbtn.btn-lg {
        margin-left: 36%
    }
    #contact4 {
        margin: 0
    }
    .m-tech {
        margin-top: 15.4%
    }
}

.badge,
.pixsel {
    text-align: center
}

#leave {
    margin-top: 14px
}

@media screen and (min-width:320px) and (max-width:767px) {
    .feat3 {
        margin-top: 67px;
        padding-top: 0
    }
}

@media (min-width:769px) {
    .gmap_canvas_height {
        margin-bottom: 113px
    }
}

@media (max-width:768px) {
    .add a,
    .news-feature,
    .why-choose h2 {
        float: left
    }
    .call-now,
    .mail-now,
    .second-section,
    .second-section2 {
        width: 100%;
        float: left
    }
    .news-section h2 {
        margin-top: 10%
    }
    .news-section {
        padding-top: 0
    }
    .Our_gallery {
        margin-top: 20%
    }
    .gallery_items img {
        padding: 20px;
        margin: 0 auto
    }
    #gallery {
        background: url(../images/icons/h2-lineb.png) left bottom no-repeat;
        padding-bottom: 10px
    }
    .service {
        margin-top: 22px;
        margin-bottom: 0
    }
    .gmap_canvas_height {
        margin-bottom: -37px
    }
    .third-section h2 {
        padding-top: 30px
    }
    .news-header-image-align {
        margin: 0 auto
    }
    #logotop {
        margin-top: 13px !important;
        margin-bottom: -15px !important
    }
    .footer-logo {
        margin-left: 0
    }
    .second-section {
        background: #03a9f5;
        background-size: 100% 100%;
        margin-top: -6px
    }
    .second-section2 {
        background: #27aae2;
        background-size: 100% 100%;
        margin-top: -20px
    }
    .or,
    .or2 {
        top: 38%;
        right: 18px
    }
    #service5 {
        margin: 40% 0 18px 10px
    }
    .about-bt,
    .nice {
        margin-bottom: 20px
    }
    #alertmessage2 {
        margin-top: 40px
    }
    .addd .mail-now,
    .addd1 .mail-now {
        background: url(../images/icons/add-mail.png) 10% 27px no-repeat !important;
        margin-top: 9px;
        width: 100%
    }
    .addd .mail-now {
        padding: 16px 15px 27px 29%
    }
    .addd1 .mail-now {
        padding: 20px 15px 27px 29%
    }
    .logo-align {
        margin-left: 8%;
        margin-top: 40px
    }
    .text-icon {
        padding-left: 15px
    }
    .feat2 {
        margin-top: 52px
    }
    #paginat {
        margin-bottom: 65px !important
    }
    .elit2 {
        margin-bottom: -45px !important
    }
    #tea {
        margin: 12px 12px -21px 14px
    }
    .newws3 {
        margin-top: 21px
    }
    #newse2 {
        margin-left: 22px
    }
    #clients1 {
        margin-top: 20px !important
    }
    .third-section h2 {
        margin-top: 26px
    }
    #page1 {
        margin-top: 116px
    }
    .footer-links ul li span {
        color: #fff
    }
    .footer-links ul li {
        font-size: 15px
    }
    .consulting-service h2 {
        padding-top: 31px;
        text-align: center
    }
    .consulting-service .main-button {
        margin-top: 78px
    }
    #gmap_canvas {
        margin-bottom: 19%
    }
    .consulting-service p {
        margin-bottom: 48px;
        padding-bottom: 0;
        text-align: center;
        font-weight: initial
    }
    #clients {
        margin-top: 40px !important;
        margin-bottom: 40px !important
    }
    .our-team {
        padding-bottom: 85px
    }
    .footer-links h2 {
        margin-bottom: 13px !important;
        margin-top: 4%
    }
    .news-letter {
        top: -234px
    }
    .footer-bottom {
        margin-top: 54px
    }
    .about2 {
        margin-top: 34px
    }
    .banner-round .m-top {
        margin-top: -41%
    }
    #click {
        margin-top: -10px
    }
    .link-box2 {
        margin-left: 0
    }
    .right-absolute img {
        margin-top: -29px
    }
    .news7 {
        margin-bottom: 14px
    }
    .service2 {
        margin: 24px -3px 40px
    }
    #send {
        margin-top: -8px !important;
        margin-bottom: 25px !important
    }
    #contact {
        margin: 0
    }
    .feat1 {
        margin: 15px 0 35px
    }
    .icons {
        margin-top: 46px;
        margin-left: -13px
    }
    .media-heading {
        margin-left: 2px !important
    }
    .elit1 {
        margin-left: 0 !important
    }
    #media1 {
        margin-top: -18px;
        margin-bottom: 25px;
        margin-left: 0
    }
    .blog2 {
        margin-bottom: -24px
    }
    .icons {
        margin-bottom: 35px
    }
    #icons1 {
        margin-bottom: 45px;
        margin-top: 40px;
        margin-left: -11px
    }
    #amet2 {
        margin-top: -55px !important;
        margin-bottom: 7px !important
    }
    #amet {
        margin-top: 5px
    }
    #tags {
        margin-bottom: 0
    }
    .pagination>li>a {
        margin-top: 10%
    }
    #pitchnotfound {
        margin: -11px 0 -95px !important
    }
    #pitchnotfound1 {
        margin-top: 36px !important;
        margin-bottom: -35px !important
    }
    .dolor {
        margin-left: 0
    }
    #current {
        margin: 28px 0 -9px !important
    }
    .padd {
        margin-bottom: -23px !important
    }
    .jobs {
        margin-top: 17px !important
    }
    .our-clients3 h2 {
        margin-top: 33px;
        margin-bottom: 17px
    }
    #button1,
    #button2,
    #button3,
    #button4 {
        width: 16%
    }
    #right {
        margin: 0;
        line-height: 26px
    }
    #price1 {
        margin: -133px 0 85px
    }
    .call-now {
        border-bottom: 1px solid #cecece;
        border-right: none;
        padding: 20px 15px 27px 29%;
        width: 100%;
        background: url(../images/icons/add-phone.png) 10% 32px no-repeat !important
    }
    .dad a {
        margin-left: -133px
    }
    .dad h3 {
        margin-left: 36px
    }
    .footer-links1 {
        margin-top: -173px
    }
    .footer-links {
        margin-bottom: -30px;
        margin-top: -2px
    }
    .social-media {
        margin-left: 0
    }
    .social-media1 {
        margin-top: 5px;
        margin-left: 201px !important
    }
    #news2 {
        margin-left: 14px !important
    }
    .add a {
        margin-left: -30px
    }
    .size {
        margin-top: -18px !important;
        margin-bottom: 6px !important
    }
    .silver1 {
        margin-top: -15px;
        margin-bottom: 35px
    }
    .link-box2 {
        width: 100% !important
    }
    #spacing1,
    #spacing2 {
        margin-top: -38px !important
    }
    .inner-banner1 img {
        margin-top: 0
    }
    .footer-links ul li a {
        margin-left: -2px
    }
    #replay3 {
        margin-right: 30px
    }
    #search {
        margin-top: -48px !important
    }
    .add h3 {
        margin-left: -22px
    }
    .add a {
        margin-top: 4px;
        padding-left: 0;
        padding-top: 0
    }
    .subscribe-box {
        width: 100%
    }
    .news-letter p {
        margin-bottom: 5px;
        margin-left: 2px
    }
    .footer-logo {
        padding-top: 10px
    }
    #consulty {
        margin-top: 30px;
        margin-left: 7%;
        margin-bottom: 20px
    }
    .news-feature {
        width: 50%
    }
    #sitamet {
        margin-left: 0 !important
    }
    #consulty1 {
        margin-top: 30px !important
    }
    .support1,
    .support2,
    .support3 {
        margin-top: -60px
    }
}

@media (width:768px) {
    .about-section {
        width: 768px
    }
    .third-section h2 {
        margin-top: 26px
    }
    .why-choose h2 {
        margin-top: 0
    }
    #service5 {
        margin: 50% 0 18px 10px
    }
    .about-bt {
        margin-top: -12px;
        margin-bottom: 92% !important
    }
    .service {
        margin-top: 18px;
        margin-bottom: 0
    }
    .service_heading {
        margin-top: -12px
    }
}

@media (max-width:425px) {
    body {
        font-size: 15px
    }
    h1 {
        font-size: 22px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 18px
    }
    h4 {
        font-size: 16px
    }
    .btn {
        padding: 6px 8px !important;
        font-size: 15px !important;
        line-height: 1 !important
    }
    .plyr--video .plyr__controls {
        padding: 0
    }
    .Our_gallery {
        margin-top: 30%
    }
    #servicehome,
    .about h2 {
        font-size: 20px
    }
    .about p,
    .happy-clients p {
        font-size: 15px
    }
    .about-bt {
        padding: 4px 5px 4px 7px;
        margin-bottom: 20%
    }
    .newse2 {
        font-size: 16px
    }
    .consulting-service h2 {
        font-size: 18px;
        text-align: center
    }
    .consulting-service p {
        font-size: 13px;
        text-align: center;
        font-weight: initial;
        margin-bottom: 27px
    }
    .text-box h3 {
        font-size: 16px
    }
    .link-box a,
    .news-btn,
    .news-letter p,
    .text-box a,
    .text-box p {
        font-size: 15px
    }
    .news-letter>h2 {
        color: #fff;
        text-transform: uppercase;
        margin: 18px auto 16px
    }
    .consulting-service .main-button {
        margin-bottom: 0;
        top: -95px
    }
    .footer-links {
        margin-top: 0
    }
    .about-page p,
    .style,
    p.why {
        font-size: 13px
    }
    .news1,
    .newws3 {
        font-size: 16px
    }
    .our-team h2,
    .why-choose h2 {
        font-size: 20px
    }
    .link-box2 h3 {
        font-size: 18px
    }
    .why-choose {
        padding: 30px 0 94px
    }
    #blog1,
    .lightblue {
        font-size: 13px
    }
    .elit,
    .elit1,
    .elit2 {
        font-size: 13px !important
    }
    .news-letter>h2,
    .our-clients3 h2 {
        font-size: 20px
    }
    .name {
        font-size: 18px
    }
    #clients {
        font-size: 20px
    }
    #leave {
        margin-top: 17px
    }
    .addd .mail-now,
    .addd1 .mail-now {
        background: url(../images/icons/add-mail.png) 6% 36px no-repeat !important;
        margin-top: 9px;
        width: 100%
    }
    #page1 {
        font-size: 22px
    }
    .addd .mail-now {
        padding: 20px 15px 27px 20%
    }
    .addd1 .mail-now {
        padding: 20px 15px 27px 18%
    }
    .email {
        padding: 16px 8px 16px 18px
    }
    #new3+#tags {
        margin-bottom: 45%
    }
    .mega-image {
        margin-top: 0
    }
    #gmap_canvas {
        margin-bottom: 93px
    }
    #contact {
        margin: 0
    }
    #contact1,
    #contact2,
    #contact3 {
        margin: 20px 15px 26px 16px
    }
    #tea {
        margin-top: 44px;
        margin-bottom: 20px;
        float: left
    }
    .col-xs-pull-8 {
        right: 66.66666667%
    }
    .col-xs-push-4 {
        left: 33.33333333%
    }
    .our-team-wrap .link-box2 {
        text-align: center
    }
    .feat,
    .support {
        margin-left: 0
    }
    #table {
        margin: 44px 0 20px
    }
    .tab-links a {
        padding: 13px !important;
        font-size: 15px !important
    }
    .consulting-service .main-button1 {
        margin-top: 0;
        margin-bottom: 114px;
        width: 100%;
        margin-left: 0
    }
    .news66 {
        margin-bottom: 60px
    }
    .project-wrap {
        padding-bottom: 0
    }
    .third-section h2 {
        padding-top: 30px;
        font-size: 20px
    }
    #servicehome2 {
        margin-top: 31px;
        font-size: 20px
    }
    .notfoundbtn.btn-lg {
        margin-left: 27%;
        margin-bottom: 138px
    }
    #service5 {
        margin: 200px 0 18px 10px
    }
    #service3 {
        padding: 180px 12px 10px 0
    }
    .banner-round .m-top {
        margin-top: -46%
    }
    .footer-links ul {
        padding-left: 11px;
        margin-bottom: 31px
    }
    #button5,
    #button5:hover {
        margin: 96% 0 0
    }
    .xs-nav-bar {
        float: right
    }
    #alert2 {
        margin: 24px 0 6px
    }
    #button5 {
        font-size: 14px;
        padding: 7px
    }
    #button51,
    #button51:hover,
    #button52,
    #button52:hover,
    #button53,
    #button53:hover {
        margin: 0;
        font-size: 14px;
        padding: 7px
    }
    #servicehome1 {
        margin: 0 0 30px;
        font-size: 20px
    }
    #pitchnotfound1 {
        margin-top: -29px !important;
        margin-bottom: 0 !important;
        margin-left: 2px !important
    }
    .service {
        margin: 20px 0 -10px
    }
    .or {
        margin-top: 9px
    }
    #newse2 {
        margin-left: 2px !important
    }
    #page1 {
        margin-bottom: 30px;
        margin-top: 140px
    }
    .image-cover {
        margin-top: 102px
    }
    #logotop {
        margin-top: 10px !important
    }
    .inner-banner img {
        margin-top: 9px
    }
    .call-now {
        border-bottom: 1px solid #cecece;
        border-right: none;
        padding: 23px 15px 27px 20%;
        width: 100%
    }
    .or,
    .or2 {
        top: 38%;
        right: 18px
    }
    .mail-now {
        padding: 33px 15px 27px 60px;
        width: 100%
    }
    .add a {
        padding-left: 40px;
        margin-top: 0
    }
    .banner-round .bx-prev:hover {
        background-size: 30px 30px !important
    }
    .banner-round .bx-next:hover,
    .banner-round .bx-prev {
        background-size: 30px 30px
    }
    .leave-img {
        width: 38px
    }
    .banner-round .bx-prev {
        bottom: 11px;
        width: 30px;
        height: 30px;
        right: 18.8%
    }
    .banner-round .bx-next {
        bottom: 0;
        width: 40px;
        height: 42px;
        background-size: 30px 30px !important;
        right: 4%
    }
    .about2 h2 {
        margin-top: 51px;
        font-size: 20px
    }
    .about2 {
        margin-bottom: -32px;
        padding-top: 0;
        margin-top: -19px
    }
    #send {
        margin-bottom: 65px !important
    }
    #oops {
        margin-bottom: -100px;
        margin-top: -15px
    }
    .service2 {
        margin: 24px -3px 40px 0
    }
    .inner-banner1 img {
        margin-top: 8px !important
    }
    #news2 {
        margin-left: 1px !important
    }
    .footer-links h2 {
        padding-left: 9px
    }
    .price {
        margin-top: 0
    }
    #price1 {
        margin: -33px 0 -18px !important
    }
    .footer-links ul li span {
        color: #fff
    }
    .footer-links ul li a {
        margin-left: -1px;
        font-size: 15px
    }
    #schort,
    #schort1 {
        padding-left: 0 !important
    }
    .call-now {
        background: url(../images/icons/add-phone.png) 29px 32px no-repeat !important
    }
    .add h3 {
        margin-left: 2px
    }
    .mail-now {
        background: url(../images/icons/add-mail.png) 20px 33px no-repeat !important
    }
    .add .mail-now a {
        margin-left: -37px !important
    }
    .footer-logo {
        padding-top: 10px;
        margin-left: -8px
    }
    .m-tech {
        margin-top: 64px
    }
    #silver3 {
        padding: 15px;
        margin-bottom: 15%;
        margin-top: 0
    }
    #consulty {
        margin-top: 16px;
        margin-left: 9%
    }
    .banner-round .container h2 span {
        font-size: 20px
    }
    .phone {
        width: 100%
    }
    .contact-mail-ph {
        color: #CCC;
        font-size: 18px
    }
    .phone .email {
        float: left;
        border: none
    }
    .phone .number {
        float: right;
        margin: 0
    }
    .banner-round .container a {
        padding: 8px 24px 8px 8px;
        width: 131px
    }
    .banner-round .container h2 {
        margin-bottom: 25px;
        font-size: 20px
    }
    #servicehome {
        margin: 90px 0 39px 13px
    }
    .serv {
        margin: 35px 0 35px 16px
    }
    .news-section h2 {
        margin-bottom: 0;
        font-size: 20px
    }
    .about-page h2,
    .our-team1 h2 {
        margin-top: 50px;
        font-size: 20px
    }
    .about-page p {
        margin-top: 36px;
        margin-bottom: 45px;
        margin-left: 0
    }
    .inner-banner1 img {
        margin-bottom: 50px
    }
}

@media screen and (max-width:425px) {
    .tab-links a {
        padding: 13.9px !important;
        font-size: 13px !important
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    #search {
        margin-top: 0 !important
    }
    #pitchnotfound {
        margin: 0
    }
    .about-bt {
        margin-bottom: 97%
    }
    #alert8 {
        margin: 65px 0 28px
    }
}

.small-danger {
    color: #F9AB01 !important
}

.h1-danger {
    color: #e4a83f !important
}

#search {
    margin-bottom: -21px
}

.img,
.pixsel,
.pixsel1 {
    margin-bottom: 35px
}

#search1 {
    margin-top: 177px
}

.hi-icon a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100
}

.img {
    margin-top: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.img:hover {
    width: 275px;
    height: 275px;
    cursor: pointer;
    margin-top: 30px
}

.pixsel {
    margin-top: 16px;
    color: #698591
}

.pixsel1 {
    margin-top: -25px;
    color: #698591
}

#short,
.twitter:hover {
    color: #114366
}

#short {
    padding: 0 0 15%
}

#section3 {
    padding-top: 67px;
    color: #0E4971
}

#section6 {
    margin: -25px 0 17px;
    color: #698591
}

#tabss {
    border: 1px solid #F1F1F1;
    padding: 0;
    margin-top: -5px
}

#code {
    margin-top: -6%
}

.thumbnaill {
    display: block;
    padding: 13px;
    margin-bottom: 79%;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: border .2s ease-in-out
}

#consulty1 {
    font-size: 15px;
    color: #8B9DA0
}

#list,
#list1 {
    font-size: 14px
}

#list,
#list1,
.excellente,
.padd {
    color: #698591
}

.size {
    margin-top: -18px;
    margin-bottom: 25px
}

#spacing,
#spacing1,
#spacing2 {
    margin-bottom: 50px
}

#list {
    margin: 30px 10% 85px 0
}

#list1 {
    margin: 30px 10% -24px 0
}

#send,
.btn {
    font-size: 18px;
    line-height: 1.33333
}

#pitch {
    padding: 0;
    margin: 5px 0 1px
}

#spacing {
    margin-top: -20px
}

#spacing1 {
    margin-top: -39px
}

#spacing2 {
    margin-top: -40px
}

#archives,
.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}

#current {
    background: url(../images/icons/h2-lineb.png) center bottom no-repeat;
    padding-bottom: 10px;
    margin: 96px 0 0
}

#elitt,
.elit1 {
    margin-left: 0
}

.btn {
    padding: 12px 16px;
    border-radius: 0;
    margin-top: 12px;
    box-shadow: none
}

#send {
    border-radius: 6px;
    margin-top: 16px;
    margin-bottom: 108px
}

.accordion-section-title,
.accordion-section-title:hover {
    display: inline-block;
    font-size: 1.2em;
    width: 100%;
    transition: all linear .15s
}

hr {
    background-color: #BDBAB7 !important
}

#pitchnotfound1 {
    margin-top: 77px
}

.media1:first-child {
    margin-top: 160px !important;
    margin-bottom: -151px !important
}

.excellente {
    margin-bottom: 105px
}

#next1 {
    margin-bottom: 70px
}

.padd {
    margin-bottom: 30px
}

.jobs {
    margin-top: 37px;
    color: #0E4971
}

.accordion,
.accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.accordion {
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    border-radius: 3px;
    background: #f7f7f7
}

.hvr-bounce-to-right,
.hvr-bounce-to-right-blue,
.hvr-bounce-to-right-orange,
.hvr-underline-from-center {
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    -moz-osx-font-smoothing: grayscale
}

.accordion-section-title {
    padding: 15px;
    background: #FFF;
    color: #000
}

.accordian .panel-heading {
    background-color: #fff;
    border-radius: 0;
    padding: 0
}

.accordian .panel-heading a[aria-expanded=true] {
    color: #ffbb2a
}

.accordian .panel-body {
    color: #698591
}

.accordion-section-title:hover {
    padding: 15px;
    background: #FFF;
    color: #000
}

.accordion-section-title.active {
    background: #F5F5F5;
    text-decoration: none
}

.accordion-section:last-child .accordion-section-title {
    border-bottom: none
}

.accordion-section-content {
    padding: 15px;
    display: none
}

.tabs {
    width: 100%;
    display: inline-block
}

.tab-links:after {
    display: block;
    clear: both;
    content: ''
}

.badge,
.tab-links a {
    display: inline-block
}

.hvr-bounce-to-right-blue:before,
.hvr-bounce-to-right-orange:before,
.hvr-bounce-to-right:before,
.hvr-underline-from-center:before {
    content: "";
    z-index: -1;
    bottom: 0
}

.tab-links li {
    margin: 0;
    float: left;
    border: 1px solid #f1f1f1
}

.tab-links li.active {
    border-bottom: none
}

.tab-links a.active {
    color: red;
    border-bottom: none
}

.tab-links a {
    padding: 15px;
    border-radius: 0;
    background: #FFF;
    font-weight: 600;
    transition: all linear .15s
}

.tab-links a:hover {
    background: #FFF;
    text-decoration: none
}

.tab-links .active>a {
    color: #ffbb2a;
    text-decoration: none
}

.tab,
.tab.active {
    color: #698591
}

.tab-content {
    padding: 18px 20px;
    background: #FFF
}

#code1 {
    color: #034264;
    font-weight: 700
}

#code2 {
    margin-bottom: 20px;
    width: 50%
}

#tabs4 {
    border: 1px solid #E7E7E7;
    padding: 0;
    margin: 0
}

#page {
    margin-top: 47px
}

#page1 span {
    color: #333
}

#elitt,
.elit,
.elit1,
.elit2 {
    color: #698591;
    font-size: 14px
}

.dolor {
    margin-bottom: 25px
}

#elitt,
.elit {
    margin-top: 10px;
    margin-bottom: 50px
}

.elit {
    margin-right: 5px
}

.elit1 {
    margin-top: 14px
}

.elit2 {
    margin-bottom: 10px;
    margin-top: -5px
}

.ipsum {
    color: #03a9f5
}

.ipsum:hover {
    color: #03A9F5
}

.media-heading,
.media-heading1 {
    margin-bottom: 5px !important;
    color: #072643 !important;
    font-weight: 700 !important
}

#ipsum1 {
    margin-top: 25px
}

.media-heading {
    margin-top: 0 !important;
    margin-left: 0
}

#amet2,
#amet3 {
    margin-bottom: 66px;
    margin-top: 35px
}

#amet,
#amet2,
#amet4 {
    color: #698591
}

#amet1,
#amet3,
#gallery {
    font-size: 14px;
    color: #14aff6
}

#amet,
#amet2 {
    font-size: 14px
}

#amet4 {
    margin-bottom: 25px;
    margin-top: 7px;
    font-size: 14px
}

.Our_gallery {
    margin-top: 14%
}

.gallery_items img {
    padding: 20px;
    margin: 0 auto
}

#gallery,
#projec1 {
    margin-top: 22px;
    margin-bottom: 25px
}

#gallery {
    background: url(../images/icons/h2-lineb.png) left bottom no-repeat;
    padding-bottom: 10px
}

#project {
    margin-top: 35px;
    margin-bottom: 66px
}

#pull-right {
    margin-top: -19px;
    margin-bottom: 19px
}

#logotop {
    margin-top: 35px;
    margin-bottom: 35px
}

#active,
#information,
.corner,
.corner1 {
    margin-bottom: -20px
}

.badge {
    margin-right: 5px;
    min-width: 10px;
    padding: 5px 8px !important;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    white-space: nowrap;
    background-color: #27aae2;
    border-radius: 16px
}

#paginat {
    margin-top: -1px;
    margin-bottom: -12px
}

.twitter {
    color: #848d94
}

.archives .replay1:hover,
.archives a:focus,
.archives a:hover {
    color: #ffbb2a
}

.btn-primary:hover {
    color: #FFF;
    background-color: #03A9F5;
    border-color: #03A9F5
}

.cntbtn,
.cntbtn2 {
    padding: 10px 22px;
    font-size: 20px;
    color: #fff !important
}

.cntbtn {
    background-color: #27aae2
}

.cntbtn2 {
    background-color: #03a9f5
}

.p-l-5 {
    padding-left: 5px
}

.search-icn {
    font-size: 18px;
    color: #034264
}

.hvr-bounce-to-right-blue:active,
.hvr-bounce-to-right-blue:focus,
.hvr-bounce-to-right-blue:hover,
.hvr-bounce-to-right-orange:active,
.hvr-bounce-to-right-orange:focus,
.hvr-bounce-to-right-orange:hover,
.hvr-bounce-to-right:active,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:hover,
.next1,
.prev {
    color: #fff
}

p {
    text-align: justify
}

.hvr-underline-from-center {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden
}

.hvr-bounce-to-right,
.hvr-bounce-to-right-blue {
    -webkit-backface-visibility: hidden;
    display: inline-block
}

.hvr-underline-from-center:before {
    position: absolute;
    left: 50%;
    right: 50%;
    background: #ffbb2a;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-underline-from-center:active:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:hover:before {
    left: 0;
    right: 0
}

.hvr-bounce-to-right {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.hvr-bounce-to-right:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #27aae2;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-bounce-to-right:active:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
    transition-timing-function: cubic-bezier(.52, 1.64, .37, .66)
}

.hvr-bounce-to-right-blue {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    backface-visibility: hidden;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.hvr-bounce-to-right-blue:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #03A9F5;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-bounce-to-right-blue:active:before,
.hvr-bounce-to-right-blue:focus:before,
.hvr-bounce-to-right-blue:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
    transition-timing-function: cubic-bezier(.52, 1.64, .37, .66)
}

.hvr-bounce-to-right-orange {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

#scroll,
.default,
.preview2 {
    display: none
}

.hvr-bounce-to-right-orange:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #ffbb2a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-bounce-to-right-orange:active:before,
.hvr-bounce-to-right-orange:focus:before,
.hvr-bounce-to-right-orange:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(.52, 1.64, .37, .66);
    transition-timing-function: cubic-bezier(.52, 1.64, .37, .66)
}

.short-list2 {
    padding-left: 0
}

.slide:hover .link-box {
    background-color: #ffbb2a
}

#scroll {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #27aae2;
    text-indent: -9999px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 999
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #fff
}

#scroll:hover {
    background-color: #e74c3c;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)"
}

.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.next1,
.prev {
    background-color: #03a9f5;
    padding: 5px 15px;
    margin-left: -5px
}

.customNavigation {
    text-align: right;
    margin: -83px 0 20px
}

.next1:hover,
.prev:hover {
    background-color: #ffbb2a;
    color: #fff
}

.mobile-video {
    width: '100%';
    height: '800';
    style: 'object-fit: fill'
}

.banner-image {
    max-width: 100%;
    max-height: 200px
}

.svg {
    width: 50px
}

@media only screen and (max-width:600px) {
    .mobile-nav-bar {
        width: 100px
    }
    .mobile-video {
        width: '100%';
        height: '800px';
        object-fit: 'fill'
    }
    .banner-image {
        max-height: 400px
    }
    .whyus{
        width: 50px;
    }
}